<div>
<h2>Registrieren</h2>
<form action="<%= url "/register" %>" method="post">
  <label>Emailadresse</label><br />
  <input name="email" /><br />
  <label>Passwort</label><br />
  <input type="password" name="password" /><br />
  <input type="submit" />
</form>
</div>
