<h2><%= @text.title %></h2>
<ol>
  <% @text.sentences.each do |sentence|%>
  <li><a href="<%= url "/sentence/#{sentence.id}" %>"><%= sentence.japanese %></a></li>
  <li><%= sentence.german %></li>
  <% end %>
</ol>
