<ol>
  <% @user.texts.each do |text|%>
  <li><a href="<%= url "/text/#{text.id}"%>"><%= text.title %></a></li>
  <% end %>
</ol>

<form metho="post" action="<%= url "/text/new"%>" accept-charset="utf-8">
<textarea name="new_text" id="new_text" cols="80" rows="7"></textarea>
<br />
<input type="submit" value="hinzufügen">
</form>


